<font color="green">**Semantic score computations by calling functions in other files**

**Import libraries and other supporting ipynb files**

In [ ]:
#Import libraries
import sys
!{sys.executable} -m pip install import-ipynb

Requirement already satisfied: import-ipynb in c:\users\adite\anaconda3\lib\site-packages (0.1.3)

In [ ]:
#Import libraries
import pandas as pd 
import numpy as np
import import_ipynb
from DataPreparationFunctionForSematicScores import get_final_news_data
from FunctionsDefinitionsForSemanticScores import compute_semantic_scores, normalize_semantic_scores, compute_final_score

importing Jupyter notebook from Data_Preparation.ipynb
Requirement already satisfied: textstat in c:\users\adite\anaconda3\lib\site-packages (0.6.2)
Requirement already satisfied: pyphen in c:\users\adite\anaconda3\lib\site-packages (from textstat) (0.9.5)
Requirement already satisfied: textblob in c:\users\adite\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\adite\anaconda3\lib\site-packages (from textblob) (3.4)
Requirement already satisfied: six in c:\users\adite\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.12.0)
Requirement already satisfied: singledispatch in c:\users\adite\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (3.4.0.3)
importing Jupyter notebook from Semantic_Scores.ipynb

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\adite\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

**Read data**

In [ ]:
#Read data from file
headlines = pd.read_json('headlines_Apple Inc (AAPL.OQ).json')
body=pd.read_json('body_Apple Inc (AAPL.OQ).json')

C:\Users\adite\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1204: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
C:\Users\adite\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1204: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [ ]:
headlines.head(3)

,article,company,date,news
0,https://www.reuters.com/article/idUSKBN23F2PL,Apple Inc (AAPL.OQ),2020-06-08 16:27:00,Nasdaq hits record high as U.S. recession beco...
1,https://www.reuters.com/article/idUSL1N2DL281,Apple Inc (AAPL.OQ),2020-06-08 16:22:00,UPDATE 1-GRAPHIC-Nasdaq hits record high as U....
2,https://www.reuters.com/article/idUSKBN23F2NA,Apple Inc (AAPL.OQ),2020-06-08 15:50:00,Trump says U.S. police will not be disbanded

In [ ]:
body.head(3)

,body,link
0,(Reuters) - On the same day that the Nasdaq ma...,https://www.reuters.com/article/idUSKBN23F2PL
1,(Reuters) - On the same day that the Nasdaq ma...,https://www.reuters.com/article/idUSL1N2DL281
2,WASHINGTON (Reuters) - President Donald Trump ...,https://www.reuters.com/article/idUSKBN23F2NA

**Merge headlines and body using function in other file**

In [ ]:
#Prepare final data
newsData=get_final_news_data(headlines,body)
newsData.head(3)

,company,date,headlines,body,link
0,Apple Inc (AAPL.OQ),2020-06-08 16:27:00,Nasdaq hits record high as U.S. recession beco...,(Reuters) - On the same day that the Nasdaq ma...,https://www.reuters.com/article/idUSKBN23F2PL
1,Apple Inc (AAPL.OQ),2020-06-08 16:22:00,UPDATE 1-GRAPHIC-Nasdaq hits record high as U....,(Reuters) - On the same day that the Nasdaq ma...,https://www.reuters.com/article/idUSL1N2DL281
2,Apple Inc (AAPL.OQ),2020-06-08 15:50:00,Trump says U.S. police will not be disbanded,WASHINGTON (Reuters) - President Donald Trump ...,https://www.reuters.com/article/idUSKBN23F2NA

In [ ]:
newsData=pd.read_csv('Advanced Micro Devices Inc (AMD.OQ).csv')
#newsData.drop(['link'], axis=1,inplace=True) #remove redundant column
newsData.rename(columns={"news": "headlines"},inplace=True) #rename columns for more clarifications

In [ ]:
newsData.head(3)

,company,headlines,link,date,body
0,Advanced Micro Devices Inc (AMD.OQ),FIRMEN-BLICK-Novartis-Augenarznei Beovu kommt ...,https://www.reuters.com/article/idUSL8N2D84M5,2020-05-26 10:34:00,26. Mai (Reuters) - Es folgt der Reuters-Blick...
1,Advanced Micro Devices Inc (AMD.OQ),BRIEF-Brazil's stock exchange B3 to keep opera...,https://www.reuters.com/article/idUSS0N2CH00Q,2020-05-19 13:58:00,May 19 (Reuters) - \n* BRAZIL’S STOCK EXCHANGE...
2,Advanced Micro Devices Inc (AMD.OQ),BRIEF-Kodiak Sciences Announces Q1 2020 Financ...,https://www.reuters.com/article/idUSASA00P7Q,2020-05-11 07:55:00,May 11 (Reuters) - Kodiak Sciences Inc: \n* KO...

**Compute semantic scores by calling function defined in other file**

In [ ]:
#Compute semantic scores
newsData=compute_semantic_scores(newsData)
newsData.head(3)

,company,headlines,link,date,body,subjectivity,polarity,entropy,flesch_index,dale_chall_index,sentiment
0,Advanced Micro Devices Inc (AMD.OQ),FIRMEN-BLICK-Novartis-Augenarznei Beovu kommt ...,https://www.reuters.com/article/idUSL8N2D84M5,2020-05-26 10:34:00,26. Mai (Reuters) - Es folgt der Reuters-Blick...,0.000000,0.00000,8.230145,13.1,9.74,neutral
1,Advanced Micro Devices Inc (AMD.OQ),BRIEF-Brazil's stock exchange B3 to keep opera...,https://www.reuters.com/article/idUSS0N2CH00Q,2020-05-19 13:58:00,May 19 (Reuters) - \n* BRAZIL’S STOCK EXCHANGE...,0.750000,-0.37500,5.369812,17.7,9.04,negative
2,Advanced Micro Devices Inc (AMD.OQ),BRIEF-Kodiak Sciences Announces Q1 2020 Financ...,https://www.reuters.com/article/idUSASA00P7Q,2020-05-11 07:55:00,May 11 (Reuters) - Kodiak Sciences Inc: \n* KO...,0.410417,0.08125,6.121220,38.8,12.49,neutral

**Normalize semantic scores by calling function in other file**

In [ ]:
#Normalize semantic scores
newsScoresData=newsData
newsScoresData=normalize_semantic_scores(newsScoresData)
newsScoresData.head(3)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,sentiment,normalized_polarity,normalized_entropy,normalized_flesch_index,normalized_dale_chall_index
0,2020-05-26 10:34:00,0.000000,0.00000,8.230145,13.1,9.74,neutral,0.509434,1.000000,0.017514,0.075974
1,2020-05-19 13:58:00,0.750000,-0.37500,5.369812,17.7,9.04,negative,0.000000,0.181410,0.037164,0.053247
2,2020-05-11 07:55:00,0.410417,0.08125,6.121220,38.8,12.49,neutral,0.619811,0.396453,0.127296,0.165260

**Preprocess semantic scores**

In [ ]:
#Group by semantic scores to combine scores of different news on same day
newsScoresData['date'] = pd.to_datetime(newsScoresData['date'])
newsScoresData['date'] = newsScoresData['date'].dt.date
grouped=newsScoresData.groupby('date').mean()
grouped=grouped.reset_index()
grouped.head(3)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,normalized_polarity,normalized_entropy,normalized_flesch_index,normalized_dale_chall_index
0,2016-07-22,0.417751,0.133707,7.207807,50.3,13.015,0.691073,0.707420,0.176420,0.182305
1,2016-08-02,0.351389,0.034118,7.353409,30.7,10.290,0.555783,0.749090,0.092695,0.093831
2,2016-08-03,0.351389,0.034118,7.356924,30.7,10.290,0.555783,0.750095,0.092695,0.093831

**Compute final semantic scores by calling function defined in other file**

In [ ]:
#Compute final semantic scores
final=compute_final_score(grouped)
final.head(3)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,normalized_polarity,normalized_entropy,normalized_flesch_index,normalized_dale_chall_index,final_semantic_score
0,2016-07-22,0.417751,0.133707,7.207807,50.3,13.015,0.691073,0.707420,0.176420,0.182305,0.291504
1,2016-08-02,0.351389,0.034118,7.353409,30.7,10.290,0.555783,0.749090,0.092695,0.093831,0.293947
2,2016-08-03,0.351389,0.034118,7.356924,30.7,10.290,0.555783,0.750095,0.092695,0.093831,0.294148

In [ ]:
#final_df=final[["date","final_semantic_score"]]
final_df=final[["date","subjectivity","polarity","entropy","flesch_index","dale_chall_index","final_semantic_score"]]
final_df.head(3)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,final_semantic_score
0,2016-07-22,0.417751,0.133707,7.207807,50.3,13.015,0.291504
1,2016-08-02,0.351389,0.034118,7.353409,30.7,10.290,0.293947
2,2016-08-03,0.351389,0.034118,7.356924,30.7,10.290,0.294148

**Preprocess on computed semantic scores**

In [ ]:
#Impute missing values
r = pd.date_range(start=final_df.date.min(), end=final_df.date.max())
final_df=final_df.set_index('date').reindex(r).rename_axis('date').reset_index()

In [ ]:
final_df.head(3)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,final_semantic_score
0,2016-07-22,0.417751,0.133707,7.207807,50.3,13.015,0.291504
1,2016-07-23,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-24,NaN,NaN,NaN,NaN,NaN,NaN

**Save semantic scores data into csv file**

In [ ]:
#Save dataframe to csv
final_df.to_csv(r'amd-all-scores.csv',index=False)

**Read data from saved csv to ensure writing done correctly**

In [ ]:
#Read saved csv
scoresAmd=pd.read_csv('amd-all-scores.csv')
scoresAmd.head(5)

,date,subjectivity,polarity,entropy,flesch_index,dale_chall_index,final_semantic_score
0,2016-07-22,0.417751,0.133707,7.207807,50.3,13.015,0.291504
1,2016-07-23,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-24,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-25,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-26,NaN,NaN,NaN,NaN,NaN,NaN